USE [LTW]

GO
/****** Object:  Table [dbo].[activity_logs]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[details] [text] NULL,
	[entity_id] [bigint] NULL,
	[entity_type] [varchar](255) NOT NULL,
	[ip_address] [varchar](255) NULL,
	[user_agent] [varchar](255) NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[answers]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[body] [text] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[is_accepted] [bit] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[votes] [int] NOT NULL,
	[author_id] [bigint] NOT NULL,
	[question_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[badges]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[badges](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[earned_count] [int] NOT NULL,
	[icon] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[required_answers] [int] NULL,
	[required_points] [int] NOT NULL,
	[required_questions] [int] NULL,
	[required_reputation] [int] NULL,
	[type] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_cuebofvgkgi4g9fxde2kmpr1h] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[color] [varchar](255) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [text] NULL,
	[display_order] [int] NOT NULL,
	[icon] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[question_count] [int] NOT NULL,
	[slug] [varchar](255) NULL,
	[manager_id] [bigint] NULL,
	[parent_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_t8o6pivur7nn124jehx7cygw5] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[body] [text] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[is_approved] [bit] NOT NULL,
	[is_deleted] [bit] NOT NULL,
	[answer_id] [bigint] NULL,
	[author_id] [bigint] NOT NULL,
	[question_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_participants]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_participants](
	[event_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[banner] [varchar](255) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [text] NOT NULL,
	[end_date] [datetime2](6) NOT NULL,
	[is_active] [bit] NOT NULL,
	[participant_count] [int] NOT NULL,
	[prizes] [text] NULL,
	[rules] [text] NULL,
	[start_date] [datetime2](6) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[type] [varchar](255) NOT NULL,
	[creator_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_members]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_members](
	[group_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_attachments]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_attachments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content_type] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[file_name] [varchar](255) NOT NULL,
	[path] [varchar](255) NOT NULL,
	[answer_id] [bigint] NULL,
	[question_id] [bigint] NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[body] [text] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[is_deleted_by_receiver] [bit] NOT NULL,
	[is_deleted_by_sender] [bit] NOT NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetime2](6) NULL,
	[subject] [varchar](255) NOT NULL,
	[receiver_id] [bigint] NOT NULL,
	[reply_to_id] [bigint] NULL,
	[sender_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[is_global] [bit] NOT NULL,
	[is_read] [bit] NOT NULL,
	[link] [varchar](255) NULL,
	[message] [text] NOT NULL,
	[read_at] [datetime2](6) NULL,
	[type] [varchar](255) NOT NULL,
	[sender_id] [bigint] NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_tags]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_tags](
	[question_id] [bigint] NOT NULL,
	[tag_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[answer_count] [int] NOT NULL,
	[body] [text] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[is_approved] [bit] NOT NULL,
	[is_locked] [bit] NOT NULL,
	[is_pinned] [bit] NOT NULL,
	[title] [varchar](200) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[views] [int] NOT NULL,
	[votes] [int] NOT NULL,
	[accepted_answer_id] [bigint] NULL,
	[author_id] [bigint] NOT NULL,
	[group_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reports]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [text] NULL,
	[entity_id] [bigint] NOT NULL,
	[entity_type] [varchar](255) NOT NULL,
	[reason] [varchar](255) NOT NULL,
	[resolution] [text] NULL,
	[resolved_at] [datetime2](6) NULL,
	[status] [varchar](255) NOT NULL,
	[reporter_id] [bigint] NOT NULL,
	[resolved_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[contact_email] [varchar](255) NOT NULL,
	[enable_comments] [bit] NOT NULL,
	[enable_registration] [bit] NOT NULL,
	[language] [varchar](255) NOT NULL,
	[max_upload_size] [bigint] NOT NULL,
	[points_per_accepted_answer] [int] NOT NULL,
	[points_per_answer] [int] NOT NULL,
	[points_per_question] [int] NOT NULL,
	[require_email_verification] [bit] NOT NULL,
	[require_moderation] [bit] NOT NULL,
	[site_description] [text] NULL,
	[site_name] [varchar](255) NOT NULL,
	[theme] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [text] NULL,
	[name] [varchar](255) NOT NULL,
	[question_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_t48xdq560gs3gap9g7jg36kgc] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_badges]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_badges](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[awarded_at] [datetime2](6) NOT NULL,
	[reason] [text] NULL,
	[badge_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[user_id] ASC,
	[badge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_following]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_following](
	[follower_id] [bigint] NOT NULL,
	[following_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[follower_id] ASC,
	[following_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_groups]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[description] [text] NULL,
	[is_private] [bit] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[creator_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_votes_answers]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_votes_answers](
	[user_id] [bigint] NOT NULL,
	[answer_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_votes_questions]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_votes_questions](
	[user_id] [bigint] NOT NULL,
	[question_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/26/2025 7:51:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[about] [text] NULL,
	[ban_reason] [varchar](255) NULL,
	[banned_until] [datetime2](6) NULL,
	[bio] [text] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[email_verified] [bit] NOT NULL,
	[github_url] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[is_banned] [bit] NOT NULL,
	[level] [int] NOT NULL,
	[linkedin_url] [varchar](255) NULL,
	[location] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[points] [int] NOT NULL,
	[profile_image] [varchar](255) NULL,
	[reputation] [int] NOT NULL,
	[role] [varchar](255) NOT NULL,
	[two_factor_enabled] [bit] NOT NULL,
	[two_factor_secret] [varchar](255) NULL,
	[username] [varchar](50) NOT NULL,
	[views] [int] NOT NULL,
	[website] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_r43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD  CONSTRAINT [FK5bm1lt4f4eevt8lv2517soakd] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[activity_logs] CHECK CONSTRAINT [FK5bm1lt4f4eevt8lv2517soakd]
GO
ALTER TABLE [dbo].[answers]  WITH CHECK ADD  CONSTRAINT [FK3erw1a3t0r78st8ty27x6v3g1] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[answers] CHECK CONSTRAINT [FK3erw1a3t0r78st8ty27x6v3g1]
GO
ALTER TABLE [dbo].[answers]  WITH CHECK ADD  CONSTRAINT [FKaih8gs2e2ii62666wr3b91ulf] FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[answers] CHECK CONSTRAINT [FKaih8gs2e2ii62666wr3b91ulf]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK8wj2aupr6ec90qdgbnw2cdms0] FOREIGN KEY([manager_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK8wj2aupr6ec90qdgbnw2cdms0]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FKsaok720gsu4u2wrgbk10b5n8d] FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FKsaok720gsu4u2wrgbk10b5n8d]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK5og2yrimec2mq7km4wgvvybw3] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK5og2yrimec2mq7km4wgvvybw3]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FKn2na60ukhs76ibtpt9burkm27] FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FKn2na60ukhs76ibtpt9burkm27]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FKoiwlwqmu9qm0tjnafxqr20rd8] FOREIGN KEY([answer_id])
REFERENCES [dbo].[answers] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FKoiwlwqmu9qm0tjnafxqr20rd8]
GO
ALTER TABLE [dbo].[event_participants]  WITH CHECK ADD  CONSTRAINT [FK2x391urx4up03f4jp2y9mdt5x] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([id])
GO
ALTER TABLE [dbo].[event_participants] CHECK CONSTRAINT [FK2x391urx4up03f4jp2y9mdt5x]
GO
ALTER TABLE [dbo].[event_participants]  WITH CHECK ADD  CONSTRAINT [FKre6m0d4mgt4351tytlkac9jvf] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[event_participants] CHECK CONSTRAINT [FKre6m0d4mgt4351tytlkac9jvf]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK7ljm71n1057envlomdxcni5hs] FOREIGN KEY([creator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK7ljm71n1057envlomdxcni5hs]
GO
ALTER TABLE [dbo].[group_members]  WITH CHECK ADD  CONSTRAINT [FKdak9rix2b3s3lmv7ftnooi346] FOREIGN KEY([group_id])
REFERENCES [dbo].[user_groups] ([id])
GO
ALTER TABLE [dbo].[group_members] CHECK CONSTRAINT [FKdak9rix2b3s3lmv7ftnooi346]
GO
ALTER TABLE [dbo].[group_members]  WITH CHECK ADD  CONSTRAINT [FKnr9qg33qt2ovmv29g4vc3gtdx] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[group_members] CHECK CONSTRAINT [FKnr9qg33qt2ovmv29g4vc3gtdx]
GO
ALTER TABLE [dbo].[image_attachments]  WITH CHECK ADD  CONSTRAINT [FK2nfwhy0mupltg4cv7ayiudpf3] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[image_attachments] CHECK CONSTRAINT [FK2nfwhy0mupltg4cv7ayiudpf3]
GO
ALTER TABLE [dbo].[image_attachments]  WITH CHECK ADD  CONSTRAINT [FK7l1avd7hi8x9xwjflo55flwfa] FOREIGN KEY([answer_id])
REFERENCES [dbo].[answers] ([id])
GO
ALTER TABLE [dbo].[image_attachments] CHECK CONSTRAINT [FK7l1avd7hi8x9xwjflo55flwfa]
GO
ALTER TABLE [dbo].[image_attachments]  WITH CHECK ADD  CONSTRAINT [FKr7pmrtciu9guwxdealxwbquce] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[image_attachments] CHECK CONSTRAINT [FKr7pmrtciu9guwxdealxwbquce]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK4ui4nnwntodh6wjvck53dbk9m] FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK4ui4nnwntodh6wjvck53dbk9m]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FKg23x99if9xk265onv7btb0cg9] FOREIGN KEY([reply_to_id])
REFERENCES [dbo].[messages] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FKg23x99if9xk265onv7btb0cg9]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FKt05r0b6n0iis8u7dfna4xdh73] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FKt05r0b6n0iis8u7dfna4xdh73]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK13vcnq3ukas06ho1yrbc5lrb5] FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK13vcnq3ukas06ho1yrbc5lrb5]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK9y21adhxn0ayjhfocscqox7bh] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK9y21adhxn0ayjhfocscqox7bh]
GO
ALTER TABLE [dbo].[question_tags]  WITH CHECK ADD  CONSTRAINT [FK4s4qdqgvc98lx55s3hu9vqam7] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([id])
GO
ALTER TABLE [dbo].[question_tags] CHECK CONSTRAINT [FK4s4qdqgvc98lx55s3hu9vqam7]
GO
ALTER TABLE [dbo].[question_tags]  WITH CHECK ADD  CONSTRAINT [FKee6kn1hbh2ka2qj64bv30esbw] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[question_tags] CHECK CONSTRAINT [FKee6kn1hbh2ka2qj64bv30esbw]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FK6q970e2fepgplb7gw39snf6rh] FOREIGN KEY([accepted_answer_id])
REFERENCES [dbo].[answers] ([id])
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FK6q970e2fepgplb7gw39snf6rh]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FKii8pqtr2qjv47ht06bg8vtl9n] FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FKii8pqtr2qjv47ht06bg8vtl9n]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FKk921gjmaqnglwwh8ui1p4d6cv] FOREIGN KEY([group_id])
REFERENCES [dbo].[user_groups] ([id])
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FKk921gjmaqnglwwh8ui1p4d6cv]
GO
ALTER TABLE [dbo].[reports]  WITH CHECK ADD  CONSTRAINT [FKd3qiw2om5d2oh5xb7fbdcq225] FOREIGN KEY([reporter_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reports] CHECK CONSTRAINT [FKd3qiw2om5d2oh5xb7fbdcq225]
GO
ALTER TABLE [dbo].[reports]  WITH CHECK ADD  CONSTRAINT [FKru383gq6s2hvqp6jf4q3itays] FOREIGN KEY([resolved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reports] CHECK CONSTRAINT [FKru383gq6s2hvqp6jf4q3itays]
GO
ALTER TABLE [dbo].[system_settings]  WITH CHECK ADD  CONSTRAINT [FKda4dsfh0rkqhmq0bo7plxiqm3] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[system_settings] CHECK CONSTRAINT [FKda4dsfh0rkqhmq0bo7plxiqm3]
GO
ALTER TABLE [dbo].[user_badges]  WITH CHECK ADD  CONSTRAINT [FKk6e00pguaij0uke6xr81gt045] FOREIGN KEY([badge_id])
REFERENCES [dbo].[badges] ([id])
GO
ALTER TABLE [dbo].[user_badges] CHECK CONSTRAINT [FKk6e00pguaij0uke6xr81gt045]
GO
ALTER TABLE [dbo].[user_badges]  WITH CHECK ADD  CONSTRAINT [FKr46ah81sjymsn035m4ojstn5s] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_badges] CHECK CONSTRAINT [FKr46ah81sjymsn035m4ojstn5s]
GO
ALTER TABLE [dbo].[user_following]  WITH CHECK ADD  CONSTRAINT [FKbhwj1yevud330mbllu4dt7gn7] FOREIGN KEY([follower_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_following] CHECK CONSTRAINT [FKbhwj1yevud330mbllu4dt7gn7]
GO
ALTER TABLE [dbo].[user_following]  WITH CHECK ADD  CONSTRAINT [FKj5bh5rimv03q1b79u7611qgg3] FOREIGN KEY([following_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_following] CHECK CONSTRAINT [FKj5bh5rimv03q1b79u7611qgg3]
GO
ALTER TABLE [dbo].[user_groups]  WITH CHECK ADD  CONSTRAINT [FK16wuvd24vlm8rte823a16vfiw] FOREIGN KEY([creator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_groups] CHECK CONSTRAINT [FK16wuvd24vlm8rte823a16vfiw]
GO
ALTER TABLE [dbo].[user_votes_answers]  WITH CHECK ADD  CONSTRAINT [FKml9u0yqtlsgl3xkuhu2nrtdwx] FOREIGN KEY([answer_id])
REFERENCES [dbo].[answers] ([id])
GO
ALTER TABLE [dbo].[user_votes_answers] CHECK CONSTRAINT [FKml9u0yqtlsgl3xkuhu2nrtdwx]
GO
ALTER TABLE [dbo].[user_votes_answers]  WITH CHECK ADD  CONSTRAINT [FKqupjx1jebeu57o4bqnnvbi7pv] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_votes_answers] CHECK CONSTRAINT [FKqupjx1jebeu57o4bqnnvbi7pv]
GO
ALTER TABLE [dbo].[user_votes_questions]  WITH CHECK ADD  CONSTRAINT [FK9gh9x9aq98x6ucqw4twnp4or8] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_votes_questions] CHECK CONSTRAINT [FK9gh9x9aq98x6ucqw4twnp4or8]
GO
ALTER TABLE [dbo].[user_votes_questions]  WITH CHECK ADD  CONSTRAINT [FKqormkaq0bwbbat4kv5vdrl6qu] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[user_votes_questions] CHECK CONSTRAINT [FKqormkaq0bwbbat4kv5vdrl6qu]
GO

CREATE TABLE password_reset_tokens (
    id BIGINT IDENTITY PRIMARY KEY,
    email VARCHAR(255) NOT NULL,
    otp_code VARCHAR(10) NOT NULL,
    created_at DATETIME DEFAULT GETDATE(),
    expires_at DATETIME,
    is_used BIT DEFAULT 0
);

IF OBJECT_ID('dbo.password_reset_tokens', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.password_reset_tokens (
        id          BIGINT IDENTITY(1,1) PRIMARY KEY,
        email       NVARCHAR(255) NOT NULL,
        otp_code    VARCHAR(6)    NOT NULL,
        created_at  DATETIME2     NOT NULL,
        expires_at  DATETIME2     NOT NULL,
        is_used     BIT           NOT NULL
    );
END;

